*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
body{
    font-family: tahoma;
}
nav{
    width: 1115px;    
    background-color: #E8F0F2;
    margin: 20px auto 0 auto;
}
nav>ul>li{
    list-style-type: none;
    list-style-position: inside;
    float: left;
    padding: 23px 74px;  
    box-sizing: border-box;
    border-right: 2px solid #fff;
    position: relative;
    font-size: 17px;    
}
nav>ul>li:hover {
    cursor: pointer;
    background-color: #39A2DB;
    color: #E8F0F2;
}
nav>ul>li:hover .dropdown-content{    
    opacity: 1;
    visibility: visible;  
}
.dropdown-content{
    width: 1536px;    
    background-color: #39A2DB;    
    padding: 0 199px;
    box-sizing: border-box;
    position: absolute;
    top: 66px;
    left: -431px;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;    
}
.dropdown-content-column{
    width: 33.3%;      
    float: left;
    padding-left: 53px;
    box-sizing: border-box;
}
.dropdown-box{
    width: 100%;  
    margin: 20px 0;
    box-sizing: border-box;    
}
.dropdown-box-title{
    width: 100%;
    padding:10px 0;
    color: #053742; 
}
.dropdown-box-list{
    width: 100%;
    color:#E8F0F2;   
}
.dropdown-box-list li{
    padding: 5px 0;
    box-sizing: border-box;
}
.dropdown-content ul li{
    list-style-type:none;
    list-style-position: inside;
}

